body{
    padding: 0;
    margin: 0;
    height: 100vh;
}

.root{
    display: flex;
    justify-content: center;
}

.login-form{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 200px;
    margin-top: 20%;
    gap: 12px;
    border-radius: 12px;
}